#messages {
	width: 100%
	box-shadow: 0 1px 2px #545454;
}
@media screen and (min-width: 768px) {
	#messages {
		position: absolute;
		top: 150px;
		right: 5px;
		width: 40%;
		margin: auto;
		z-index: 20;
	}	
}

	.message {
		padding: 10px 15px 10px 30px;
		background-color: #ffffff;
		background-position: 5px 50%;
		background-repeat: no-repeat;
		border: 1px solid #757575;
		border-radius: 4px;
		cursor: pointer;
	}

		#messages .message-notice {
			background-image: url("../../img/smallx.png");
			background-position: 5px 5px;
			background-color: #BDC9BC;
		}
		#messages .message-success {
			background-color: #eff8e8;
			background-image: url("../../img/smallx.png");
			background-position: 5px 5px;
			color: #009900;
		}
		#messages .message-warning {
			background-color: #E8E489;
			background-image: url("../../img/smallx.png");
			background-position: 5px 5px;
			color: black;
		}
		#messages .message-error {
			background-image: url("../../img/smallx.png");
			background-position: 5px 5px;
			color: #ff0000;
		}