#oitstatuspage-aggregate-summary {
	line-height: 7px;
}

.l-main {
	background-color: #f5f5f5;
}

#submenu {
	float: left;
	margin: 20px;
	margin-left: 80px;
	width: 180px;
}
	#submenu h2 {
		color: black;
		font-size: 18px;
	}
	
	#submenu ul {
		padding: 0;
	}
	
	#actions {
		position: relative;
		top: -4px;
		padding: 0 5px;
		vertical-align: top;
		text-align: center;
		background: red;
		border-radius: 999px;
		color: white;
		font-size: 10px;
		font-weight: bold;
	}

#bluesmith-logo {
	position: absolute;
	top: 0;
	right: 0;
	width: 40%;
}
@media screen and (min-width: 768px) {
	#bluesmith-logo {
		top: 30px;
		right: 30px;
		width: 300px;
	}
}

#bluesmith-wrapper {

}
	#bluesmith-wrapper div.subsection {
		padding: 10px;
		margin-bottom: 20px;
		border: 1px solid #dddddd;
	}


@media screen and (max-width: 768px) {
	#submenu {
		display: none;
	}
	
	#bluesmith-wrapper {
		margin-left: 20px;
	}
}

.ui-widget-content div a {
	color: #0577b1;
}
	.ui-widget-content div .button a {
		color: black !important;
	}
	


.note {
	font-style: italic;
	font-size: 14px;
	color: #999999;
}