.data-table {
	margin-bottom: 30px;
	border-collapse: collapse;
	min-width: 50%;
}
	.data-table th, .data-table td {
		padding: 2px 8px;
		border: 1px solid #dddddd;
	}

.data-table tbody tr:nth-of-type(odd) {
	background-color: #f5f5f5;
}

.keyval-table {
	margin-bottom: 30px;
	border-collapse: collapse;
}
	.keyval-table th {
		background: #f0f0f0;
		border: 1px solid #dddddd;
	}
	.keyval-table th, .keyval-table td {
		padding: 2px 8px;

	}
	
	